%section.hero--home.hero.is-info.is-medium.is-bold.has-text-centered
  .hero-body
    %h1.title Brennen Denomme
    %h2.subtitle Subtitle here!
  .hero-footer
    %nav.tabs.is-boxed.is-fullwidth
      .container
        %ul
          %li.is-active
            %a About Me
          %li
            %a Portfolio
          %li
            %a Grid
